#btnMainPage,#btnDownloadContent,#btnSettings,#btnDonate,#btnClose,#btnMin,#btnMenu,#btnChangeStyle{
    background-color: rgb(36, 36, 36);
    color: gray;
    border-radius: 5%;
}

#btnClose:hover{
    background-color: red;
    color:white;
}

#btnClose:pressed
{
    background-color: rgb(241,112,122);
}

